.dom-rule {
  padding-top: 25px;
  padding-bottom: 25px;
}

.dom-rule__container {
  margin-bottom: 50px;
}

.dom-rule__title {
  margin-bottom: 30px;
}

.dom-rule__content-paragraph {
  margin-bottom: 30px;
}

.dom-rule__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
