.elem-rule {
  padding-top: 28px;
  padding-bottom: 25px;
}

.elem-rule__title {
  margin-bottom: 30px;
}

.elem-rule__margin {
  margin-bottom: 30px;
}

.elem-rule__margin-item {
  display: inline-block;
  vertical-align: top;
}

.elem-rule__image-margin {
  margin-right: 25px;
  max-width: 560px;
}

.elem-rule__margin-text {
  max-width: 490px;
}

.elem-rule__margin-text-paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.elem-rule__padding-item {
  display: inline-block;
  vertical-align: top;
}

.elem-rule__padding-text {
  margin-right: 35px;
  max-width: 480px;
}

.elem-rule__padding-text-paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.elem-rule__image-padding {
  max-width: 560px;
}
