.last-elem-rule {
  padding-top: 25px;
  padding-bottom: 25px;
}

.last-elem-rule__title {
  margin-bottom: 30px;
}

.last-elem-rule__content-paragraph {
  margin-bottom: 30px;
}

.last-elem-rule__image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.last-image {
  margin-bottom: 0;
}
