.summarize {
  padding-top: 25px;
  padding-bottom: 50px;
}

.summarize__title {
  margin-bottom: 25px;
}

.summarize__list {
  margin-bottom: 30px;
}

.summarize__item::before {
  content: "—";
}

.summarize__item:not(:last-child) {
  margin-bottom: 10px;
}

.summarize__content-paragraph--width {
  max-width: 998px;
}
